/* Ryan Lasher | Digital Media Expert Consultant */

/* April 2, 2019 */

/* Table of Contents: 

Resets
Global
Header
Main
Footer

*/

/* CSS RESETS */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

img {
    height: auto;
    width: 100%;
}

/* CSS RESETS END */

/* GLOBAL SECTION */

/* GLOBAL END */

/* HEADER SECTION */

/* HEADER END */

/* MAIN SECTION */

/* MAIN END */

/* FOOTER SECTION */

/* FOOTER END */