/* Ryan Lasher | Digital Media Expert Consultant */

/* April 2, 2019 */

/* Table of Contents: 

Resets
Global
Header
Main
Footer

*/

/* Color Scheme
https://coolors.co/272932-4d7ea8-c3e2c3-7fc6a4-edcb96
Off Black - #272932
Light Blue - #4D7EA8
Light Beige - #C3E2C3
Light Green - #7FC6A4
Peach Orange - #EDCB96

Light Slate Gray - Header
*/

/* CSS RESETS */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

img {
    height: auto;
    width: 100%;
}

/* CSS RESETS END */

/* GLOBAL SECTION */

/* GLOBAL END */

/* HEADER SECTION */

/* HEADER END */

/* MAIN SECTION */

main {
    
}

/* MAIN END */

/* FOOTER SECTION */

/* FOOTER END */